* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none; }
  * a:link,
  * a:visited,
  * a:active,
  * a:hover {
    list-style-type: none;
    text-decoration: none; }
  * a:link {
    color: darkslategrey; }
  * a:visited {
    color: #1f1e1e; }
  * a:active {
    color: #4e4ea7; }

body {
  background: url(../assets/background/FondoPrincipal.png);
  background-size: 100%; }
  body .grilla {
    display: grid;
    grid-template-areas: "header header" "filtro main" "footer footer";
    grid-template-rows: auto auto auto;
    grid-template-columns: 10% 90%; }
  body .grilla2 {
    display: grid;
    grid-template-areas: "header header" "main main" "footer footer";
    grid-template-rows: auto auto auto;
    grid-template-columns: 10% 90%; }
  body .grilla3 {
    display: grid;
    grid-template-areas: "header header" "filtro filtro" "main main" "footer footer";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 10% 90%; }
  body .titulo {
    font-family: "CF Samurai Bob", sans-serif;
    text-align: center;
    font-size: 4vh;
    background: linear-gradient(#280000, rgba(0, 0, 0, 0.98));
    text-shadow: 1px 1px #fd0000;
    color: whitesmoke; }
  body .subTitulo {
    font-family: "CF Samurai Bob", sans-serif;
    text-align: center;
    font-size: 2.5vmax;
    font-weight: 500;
    color: #cac6a0;
    text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.541); }
  body .sombraImg {
    border-radius: 8%;
    box-shadow: 3px 3px 5px 2px rgba(248, 0, 0, 0.2), -3px -3px 5px 2px rgba(255, 0, 0, 0.2); }
  body .buttons {
    margin: 0 0 2vh 0; }
    body .buttons input {
      font-family: "CF Samurai Bob", sans-serif;
      font-size: 2.5vh; }
  body .buttons :hover {
    transform: scale(1.5);
    transition: .2s; }
  body .sombraB {
    box-shadow: 1px 1px 5px 2px rgba(25, 0, 255, 0.2), -1px -1px 5px 2px rgba(25, 0, 255, 0.2); }
  body hr {
    width: 80%;
    margin: 1vh auto;
    border-color: rgba(255, 0, 0, 0.5); }

header {
  grid-area: header;
  width: 100%;
  height: 20vh;
  margin-bottom: 2vh;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2), -3px -3px 5px 2px rgba(0, 0, 0, 0.2); }
  header h1 {
    height: 5vh;
    font-weight: 500; }
  header img:hover {
    transform: scale(1.2);
    transition: 0.3s; }
  header nav {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.9); }
    header nav .logoTienda {
      width: 15vmin;
      margin-left: 5vw; }
    header nav .barBtn {
      display: none;
      font-size: 3vmax;
      margin-right: 10vh;
      color: red;
      cursor: pointer; }
    header nav .navMenu {
      position: relative;
      height: 100px;
      top: 0;
      background: none;
      transition: none;
      text-align: right;
      margin-right: 1vw; }
      header nav .navMenu hr {
        display: none; }
      header nav .navMenu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 10px;
        transition: none; }
        header nav .navMenu li a {
          font-family: "CF Samurai Bob", sans-serif;
          color: black;
          font-size: 2.2vmax;
          text-shadow: 0.5px 0.5px #fd0000; }
          header nav .navMenu li a.activo, header nav .navMenu li a:hover {
            color: #aa0303; }
        header nav .navMenu li .perfil {
          color: #3c3475;
          text-shadow: 0.5px 0.5px rgba(4, 0, 255, 0.541); }
        header nav .navMenu li:hover {
          transform: scale(1.2);
          transition: 0.3s; }
    header nav #check {
      display: none; }

div #filtro {
  grid-area: filtro;
  background-color: rgba(150, 149, 163, 0.85);
  margin: 0 0 1vh 1vh;
  box-shadow: 1px 1px 5px 2px rgba(25, 0, 255, 0.2), -1px -1px 5px 2px rgba(25, 0, 255, 0.2);
  border-radius: 5px; }
  div #filtro section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; }
    div #filtro section nav {
      display: flex;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      justify-content: center;
      background-color: rgba(25, 0, 0, 0.856);
      border-radius: 5px; }
      div #filtro section nav .ulFiltros {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        text-decoration: none;
        width: 100%;
        justify-content: space-around;
        text-align: center;
        font-family: "CF Samurai Bob", sans-serif;
        font-size: 2vmax;
        text-shadow: 0.5px 0.5px #fd0000; }
        div #filtro section nav .ulFiltros li a {
          color: whitesmoke; }
        div #filtro section nav .ulFiltros li:hover {
          transform: scale(1.2); }
        div #filtro section nav .ulFiltros .tituloFiltros {
          text-align: center;
          color: white;
          border-bottom: 1px solid rgba(0, 0, 0, 0.3);
          text-shadow: 0.5px 0.5px rgba(4, 0, 255, 0.541);
          font-weight: 500; }

div #filtro2 {
  grid-area: filtro;
  background-color: rgba(150, 149, 163, 0.85);
  margin: 0 20vw 2vh 20vw;
  box-shadow: 1px 1px 5px 2px rgba(25, 0, 255, 0.2), -1px -1px 5px 2px rgba(25, 0, 255, 0.2);
  border-radius: 5px; }
  div #filtro2 section nav {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 0, 0, 0.856);
    border-radius: 5px; }
    div #filtro2 section nav .ulFiltros2 {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      text-decoration: none;
      width: 100%;
      justify-content: space-around;
      text-align: center;
      font-family: "CF Samurai Bob", sans-serif;
      font-size: 2vmax;
      text-shadow: 0.5px 0.5px #fd0000; }
      div #filtro2 section nav .ulFiltros2 li a {
        color: whitesmoke; }
      div #filtro2 section nav .ulFiltros2 li:hover {
        transform: scale(1.2); }
      div #filtro2 section nav .ulFiltros2 .tituloFiltros {
        text-align: center;
        color: whitesmoke;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        text-shadow: 0.5px 0.5px rgba(4, 0, 255, 0.541);
        font-weight: 500; }

div #main {
  grid-area: main;
  background-color: rgba(8, 8, 8, 0.85);
  display: flex;
  flex-flow: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 0 1vh 1vh 1vh;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2), -3px -3px 5px 2px rgba(0, 0, 0, 0.2); }
  div #main #divMain {
    margin: 1vh; }
    div #main #divMain img {
      margin: 5px;
      width: 15%;
      min-width: 15%; }
      div #main #divMain img:hover {
        transform: scale(1.05);
        transition: .2s; }

div #mainC {
  grid-area: main;
  background-color: rgba(8, 8, 8, 0.85);
  display: flex;
  flex-flow: wrap;
  flex-wrap: wrap;
  font-family: "CF Samurai Bob", sans-serif;
  color: whitesmoke;
  font-size: 1.5vmax;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1vh 5vw;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2), -3px -3px 5px 2px rgba(0, 0, 0, 0.2); }
  div #mainC .mapa {
    box-shadow: 3px 3px 5px 2px rgba(248, 0, 0, 0.2), -3px -3px 5px 2px rgba(255, 0, 0, 0.2); }
  div #mainC div {
    width: 100%; }
  div #mainC .cajaEncargo {
    width: 60vw;
    height: 25vh;
    box-shadow: 3px 3px 5px 2px rgba(248, 0, 0, 0.2), -3px -3px 5px 2px rgba(255, 0, 0, 0.2);
    resize: none;
    font-family: "CF Samurai Bob", sans-serif;
    text-align: center;
    font-size: 2vmax; }
  div #mainC .subtituloContacto {
    font-weight: 500;
    color: #cac6a0;
    text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.541); }

div #mainR {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 1vh 1vh 1vh;
  border-radius: 5px; }
  div #mainR section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: rgba(8, 8, 8, 0.85);
    color: whitesmoke;
    font-family: "CF Samurai Bob", sans-serif;
    font-size: 2vmax;
    padding: 0 10px 10px 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2), -3px -3px 5px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px rgba(253, 0, 0, 0.5); }
    div #mainR section fieldset {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      min-height: 35vh;
      border: 2px solid rgba(255, 0, 0, 0.507);
      border-radius: 5px; }
      div #mainR section fieldset form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        min-height: 35vh; }
        div #mainR section fieldset form div input {
          font-family: "CF Samurai Bob", sans-serif;
          font-size: 1.5vmax;
          color: #424242; }

footer {
  grid-area: footer;
  background-color: rgba(211, 211, 211, 0.9);
  border-radius: 5px;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2), -3px -3px 5px 2px rgba(0, 0, 0, 0.2);
  margin: 1vh; }
  footer .redes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh; }
    footer .redes ul li {
      display: inline-block;
      margin: 0 5px;
      width: 50px;
      height: 50px;
      text-align: center; }
      footer .redes ul li a {
        display: block;
        padding: 0 10px;
        background: #333;
        color: whitesmoke;
        line-height: 50px;
        font-size: 20px;
        box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border-radius: 5px; }
      footer .redes ul li .facebook:hover {
        background: rgba(4, 0, 255, 0.6); }
      footer .redes ul li .instagram:hover {
        background: linear-gradient(75deg, #ffa600, #ac1a98); }
      footer .redes ul li .youtube:hover {
        background: #f80101; }
      footer .redes ul li:hover a {
        transform: scale(1.4);
        box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.4);
        filter: none; }
    footer .redes ul:hover a {
      filter: blur(1.5px); }
  footer .textoFooter {
    display: flex;
    font-family: "CF Samurai Bob", sans-serif;
    font-size: 3vmin;
    text-shadow: 0.5px 0.5px rgba(4, 0, 255, 0.541); }
    footer .textoFooter .pTexto1 {
      width: 45%;
      text-align: end; }
    footer .textoFooter .pTexto2 {
      width: 45%;
      text-align: start; }
    footer .textoFooter .pMedio {
      width: 10%;
      text-align: center; }

@media screen and (max-width: 1920px) {
  div #main #divMain img {
    width: 15%; } }

@media screen and (max-width: 1540px) {
  div #main #divMain img {
    width: 18%; } }

@media screen and (max-width: 1200px) {
  div #main #divMain img {
    width: 23%; }
  body .grilla {
    display: grid;
    grid-template-areas: "header header" "filtro filtro" "main main" "footer footer";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 10% 90%; }
  body .grilla2 {
    display: grid;
    grid-template-areas: "header header" "nav nav" "main main" "footer footer";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 50% 50%; }
  div #filtro section nav .ulFiltros {
    display: flex;
    flex-direction: row; }
  div #filtro {
    margin: 0 15vw 1vh 15vw; }
  div #mainR section {
    width: 65%; } }

@media screen and (max-width: 800px) {
  header {
    grid-area: header;
    width: 100%;
    height: 20vh;
    margin-bottom: 2vh;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2), -3px -3px 5px 2px rgba(0, 0, 0, 0.2); }
    header nav {
      width: 100%;
      height: 15vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(211, 211, 211, 0.9); }
      header nav .logoTienda {
        width: 15vmin;
        margin-left: 5vw; }
      header nav .barBtn {
        display: block;
        font-size: 6vmax;
        margin-right: 10vw;
        color: #320000;
        cursor: pointer; }
      header nav .navMenu {
        position: absolute;
        width: 100%;
        height: 0vh;
        top: 20vh;
        background: linear-gradient(#320000, rgba(0, 0, 0, 0.98));
        text-align: center;
        transition: all .2s; }
        header nav .navMenu hr {
          display: none; }
        header nav .navMenu li {
          display: none;
          line-height: 4vh;
          margin: 5vh 0;
          transition: all .5s; }
          header nav .navMenu li a {
            font-family: "CF Samurai Bob", sans-serif;
            color: whitesmoke;
            font-size: 3vmax; }
            header nav .navMenu li a.activo, header nav .navMenu li a:hover {
              color: red;
              transition: 0.3s; }
          header nav .navMenu li .perfil {
            color: #5141b9;
            text-shadow: 0.5px 0.5px rgba(4, 0, 255, 0.541); }
      header nav #check {
        display: none; }
      header nav #check:checked ~ .navMenu {
        height: 80%; }
      header nav #check:checked ~ .navMenu li {
        display: block; }
  div #main #divMain img {
    width: 30%; }
  body .grilla {
    display: grid;
    grid-template-areas: "header header" "filtro filtro" "main main" "footer footer";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 10% 90%; }
  body .grilla2 {
    display: grid;
    grid-template-areas: "header header" "main main" "footer footer";
    grid-template-rows: auto auto auto;
    grid-template-columns: 50% 50%; }
  body .grilla3 {
    display: grid;
    grid-template-areas: "header header" "filtro filtro" "main main" "footer footer";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 10% 90%; }
  div #filtro {
    margin: 0 1vh 1vh 1vh; }
  div #filtro2 {
    margin: 0 7vh 1vh 7vh; }
  nav {
    margin: 0;
    padding: 0; }
  #mainC .mapa {
    height: 50vh; }
  div #mainR section {
    width: 80%; } }

@media screen and (max-width: 915px) and (orientation: landscape) {
  footer .redes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh; }
  footer .redes ul {
    display: flex;
    width: 100; }
  footer .redes ul li {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    text-align: center; }
  footer .redes ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 30px;
    height: 30px;
    text-align: center; } }

@media screen and (max-width: 455px) {
  div #main #divMain img {
    width: 45%; }
  div #filtro {
    margin: auto 1vh 1vh 1vh; }
  .ulFiltros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  nav .menu {
    min-height: 6vh;
    height: auto; }
  nav .perfil2 {
    min-height: 6vh;
    height: auto; }
  section #filtro {
    margin: 0 1vh 1vh 1vh; }
  footer .redes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh; }
  footer .redes ul {
    display: flex;
    width: 100; }
  footer .redes ul li {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    text-align: center; }
  footer .redes ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 30px;
    height: 30px;
    text-align: center; }
  #mainC .mapa {
    height: 40vh; }
  div #filtro2 {
    margin: 0 2vh 1vh 2vh; } }

@media screen and (max-width: 290px) {
  div #main #divMain img {
    width: 95%; } }
