div {
    #filtro {
        grid-area: filtro;
        background-color: rgba(150, 149, 163, 0.85);
        margin: 0 0 1vh 1vh;
        box-shadow: $sombrab;
        border-radius: 5px;

        section {
            @include flex();
            width: 100%;
            height: 100%;

            nav {
                display: flex;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                justify-content: center;
                background-color: rgba(25, 0, 0, 0.856);
                border-radius: 5px;

                .ulFiltros {
                    @include flex();
                    @include resetListas();
                    width: 100%;
                    justify-content: space-around;
                    text-align: center;
                    font-family: $fuenteSamurai;
                    font-size: 2vmax;
                    text-shadow: $textShadowNavMobile;

                    li {
                        a {
                            color: map-get($coloresBases , Letra );

                        }

                        &:hover {
                            transform: scale(1.2);
                        }
                    }


                    .tituloFiltros {
                        text-align: center;
                        color: map-get($coloresBases , Letra );
                        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                        text-shadow: $textShadowBlue;
                        font-weight: 500;

                    }


                }

            }
        }
    }

    #filtro2 {
        grid-area: filtro;
        background-color: rgba(150, 149, 163, 0.85);
        margin: 0 20vw 2vh 20vw;
        box-shadow: $sombrab;
        border-radius: 5px;

        section {
            nav {
                display: flex;
                justify-content: center;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(25, 0, 0, 0.856);
                border-radius: 5px;


                .ulFiltros2 {
                    @include flex(row);
                    @include resetListas();
                    width: 100%;
                    justify-content: space-around;
                    text-align: center;
                    font-family: $fuenteSamurai;
                    font-size: 2vmax;
                    text-shadow: $textShadowNavMobile;

                    li {
                        a {
                            color: map-get($coloresBases , Letra );

                        }

                        &:hover {
                            transform: scale(1.2);
                        }
                    }

                    .tituloFiltros {
                        text-align: center;
                        color: map-get($coloresBases , Letra );
                        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                        text-shadow: $textShadowBlue;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    #main {
        grid-area: main;
        background-color: $backgroundMains;
        display: flex;
        flex-flow: wrap;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin: 0 1vh 1vh 1vh;
        border-radius: 5px;
        box-shadow: $sombra;

        #divMain {
            margin: 1vh;

            img {
                margin: 5px;
                width: 15%;
                min-width: 15%;

                &:hover {
                    transform: scale(1.05);
                    transition: .2s;
                }
            }
        }
    }

    #mainC {
        grid-area: main;
        background-color: $backgroundMains;
        display: flex;
        flex-flow: wrap;
        flex-wrap: wrap;
        font-family: $fuenteSamurai;
        color: map-get($coloresBases , Letra );
        font-size: 2vmax;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 1vh 5vw;
        border-radius: 5px;
        box-shadow: $sombra;

        .mapa {
            box-shadow: $sombraImg;
        }

        div {
            width: 100%;
        }

        section{
            width: 98%;
        }

        .cajaEncargo {
            width: 60vw;
            height: 25vh;
            box-shadow: $sombraImg;
            resize: none;
            font-family: $fuenteSamurai;
            text-align: center;
            font-size: 2vmax;
        }

        .subtituloContacto {
            font-weight: 500;
            color: map-get($coloresBases , Subtitulos ); 
            text-shadow: $textShadowBlack;
        }
    }

    #mainR {
        grid-area: main;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 1vh 1vh 1vh;
        border-radius: 5px;

        section {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            background-color: $backgroundMains;
            color: map-get($coloresBases , Letra );
            font-family: $fuenteSamurai;
            font-size: 2vmax;
            padding: 0 10px 10px 10px;
            border-radius: 5px;
            box-shadow: $sombra;
            text-shadow: 1px 1px rgba(253, 0, 0, 0.5);

            fieldset {
                @include flex();
                width: 100%;
                align-items: center;
                justify-content: center;
                min-height: 35vh;
                border: 2px solid rgba(255, 0, 0, 0.507);
                border-radius: 5px;

                form {
                    @include flex();
                    justify-content: center;
                    align-content: center;
                    min-height: 35vh;

                    div {
                        input {
                            font-family: $fuenteSamurai;
                            font-size: 1.5vmax;
                            color: rgb(66, 66, 66);
                        }
                    }
                }

            }
        }
    }
}